<div class="col-sm-3 weather-col" id="<%= css_id(city.name) %>-col">
  <div class="card text-center">
    <div class="card-body weather-card">
      <h4 class="card-title"><%= city.name.capitalize %></h4>
      <%= link_to '<span>&times;<span>'.html_safe, city, remote: true, method: :delete, class: 'close' %>
      <h6 class="card-subtitle text-muted"><%= l dt(city.timezone), format: :short %></h6>
      <div class="temperature">
        <h1><%= temperature(city.name) %><span class="degree"></span></h1>
        <div class="forecast" id="<%= css_id(city.name) %>-forecast"><%= raw forecast(city.name) %></div>
      </div>
    </div>
  </div>
</div>
